*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consola;
   
}

html{
    font-size: 62.5%;
    background-color: rgb(0, 0, 0);
}

header{  
    margin: auto;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: 10% 80% 10%;

    position: relative;
    height: 50vh;
    width: 90%;
    background-color: #ffffff;
    border: solid black 2px; 

}

header button{
    background-color: #00C2FF;
    border: solid black;
    transform: translate(0,10vh) rotate(-20deg);
    border-radius: 50%;
    box-shadow: 4px 4px 4px 4px rgba(rgb(126, 197, 255));
    width: 200px;
    height: 200px;
    font-size: 5rem;
    color:white;
    cursor: pointer;


}

h2{
    font-size: 6rem;
    margin-right: 3rem;
    margin-top: 3rem;
    border:solid 0.5rem 
}

.logo{
  grid-row: 2;
  grid-column: 3/ span 5;
 
  height: 100%;
  width: 100%;
  background-image: url("../IMAGES/develoved.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* ------menu flotante----- */
.menu{
    position: fixed;
    top: 50px;
    background-image: url('../IMAGES/icon/menu.ico');
    background-repeat: no-repeat;
    background-size: contain;
    width: 70px;
    height: 90px;
    border-radius: 5px;
    z-index: 99;
}

nav{
    position: sticky;
    top: 1vh;
    width: 100%;
    min-width: 320px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center; 

    color:#00C2FF;
    font-size: 4rem;
    
    
    background-color: black;
    z-index: 90;
}

ul{
    display: flex;
    justify-content: space-around;

}

li{
    position: relative;
    padding: 3px;
    margin: 3px 20px;
    list-style: none;
    border: solid 2px;
}

a{
    text-decoration: none;
    color: #00C2FF;
}

.list-menu{
    position: absolute;
    display: none
    
}

nav li:hover  ul{
    color:red;
    display: block;
    width: 100%;
    background-color: black;
    font-size: 3rem;
}

/* 
nav li:hover > ul{
    display: block;
} */


/* ------------------main---------------------- */

main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

 
    background-color: black;
  
    
    
}

section{
    min-width: 320px;
    width: 1200px;
    min-height: 800px;
    margin: 5px auto;
    padding-top: 50px;   
    border-radius: 9px;
    background-color: #ff0088;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-end;
    flex-direction: column;
    flex-wrap: nowrap;
}


.one{
   display: grid;
   height: 100%;
   min-width: 320px;
   width: 1200px;
   grid-template-columns: 1fr 3fr 1fr 3fr 1fr 3fr 1fr;
   grid-template-rows: 2fr 1fr 6fr 1fr 2fr  ;
   grid-template-areas:
   ".. .. .. .. .. .. .." 
   ".. .. .. .. .. .. .."
   ".. html .. css .. js .."
   ".. barHtml .. barCss .. barJs .."
   ".. .. .. .. .. .. .."
   ;
   vertical-align: middle;

}

.one-img{
    max-width: 510px

}

.html{
    grid-area: html;
    background-image: url(../IMAGES/html.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.css{
    grid-area: css;
    background-image: url(../IMAGES/css.png);
    background-size: contain;
    background-repeat: no-repeat;
}


.js{
    grid-area: js;
    background-image: url(../IMAGES/js.png);
    background-size: contain;
    background-repeat: no-repeat;
}
progress{
    width: 100%;
    height: 30%;
    background-color: rgb(255, 251, 4);
    color: yellow;
}

.barHtml{
    grid-area: barHtml;
}
.barCss{
    grid-area: barCss;
}
.barJs{
    grid-area: barJs;
}


.two{
    background-color: #9A00FF;
    color: #ffffff; 
}
.two div{
    height: 100%;
    padding: 10%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.5rem;
    text-align: justify;
}

.three{
    background-color: #FFFFFF;
}

.four{
    
    background-color: #00FF44;
    color: #ffffff;   
}

.four div{
    width: 100%;
    height: 100%;
    padding: 10%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.5rem;
    text-align: justify;
    
}


/* ----------------footer-------------- */

footer{
    
    padding: 20px;
  
    height: 30vh;
    width: 100%;
    background-color: #00C2FF;

    margin-top: 30px;

    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;

    
    

}

h3{
    margin-top: 10px;
    font-size: 2rem;
}

.nickname{
    color: white;
    text-shadow:2px 2px 2px rgba(14, 84, 105, 0.795);
}

#wap{
    color: rgb(0, 255, 0);
    text-shadow: 2px  2px 2px rgb(0, 0, 0);
}
/* -----------------iconos------------------- */

@font-face {
    font-family: 'icomoon';
    src:  url('../IMAGES/icon/fonts/icomoon.eot?jvc9ty');
    src:  url('../IMAGES/icon/fonts/icomoon.eot?jvc9ty#iefix') format('embedded-opentype'),
      url('../IMAGES/icon/fonts/icomoon.ttf?jvc9ty') format('truetype'),
      url('../IMAGES/icon/fonts/icomoon.woff?jvc9ty') format('woff'),
      url('../IMAGES/icon/fonts/icomoon.svg?jvc9ty#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
    font-size: 30px;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    
   
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-menu:before {
    display: none;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 95;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 10px;
    content: "\e902";
    
  }
  .icon-instagram:before {
    content: "\e900";

    font-size: 30px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
  }
  .icon-github:before {
    content: "\e901";

    font-size: 30px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
  }
 


/*--------------medias query---------------- */

 

@media screen and (max-width:450px){

    .icon-menu:before {
        display: initial;
    }

    nav{
        position: fixed;
        top: 0;
        bottom: 0;
        /*left: -150vw;*/

        flex-direction: column;
        background-color: rgba(0,0,0,0.9);
    }

    .icon-menu:hover:before{
        background-color: #000000;
        color: #ffffff;;
    }

    .is-active{
        display: none;
    }
  
    ul{
        display: block;
        text-align: center;
    }

    .one{
        margin: 0 auto;
        overflow-x: scroll;
        
        overscroll-behavior-x:contain; 
        scroll-snap-type: x proximity;   
    }

    .one a{
        text-align: center;
        scroll-snap-align:center;
        min-width: 300px;
        padding:0 auto;
        margin: 0 30px;
    }
}
  
